<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">my targets</li>
      <li><a href="#">overview</a>
      <li><a href="#">add new</a></li>
      <li><a href="#">edit</a></li>
    </ul>
  </div>
</div>